# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.env/
env/
venv/
ENV/
.venv/

# Pytest
.pytest_cache/

# MyPy
.mypy_cache/

# VS Code
.vscode/

# JetBrains
.idea/

# Jupyter
.ipynb_checkpoints

# macOS
.DS_Store

# Logs
*.log

# Coverage
.coverage
coverage.xml

# SQLite
*.sqlite3
